html, body { margin: 0; padding: 0; height: 100%; width: 100%;}
body {
  z-index: 1;
  position: relative;
  background: rgb(145,205,233) url('../images/page-bg-xs.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
}
body:before {
  z-index: 2;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(145,205,233) url('../images/page-bg-xs.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
      -ms-filter: blur(5px);
       -o-filter: blur(5px);
          filter: blur(5px);
}

p { margin: 0; line-height: 1.5;}

blockquote:before { content: '“'; position: relative; display: block; font-size: 200%;}
blockquote:after { content: '”'; position: relative; display: block; font-size: 200%;}

.page-container {
  z-index: 100;
  position: relative;
  padding: 15px; 
  color: rgb(255,255,255);
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

footer {
  z-index: 999;
  position: fixed;
  bottom: 0; 
  left: 0; 
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255,255,255,.5);
}
